@font-face {
	font-family: SwitzeraADF--Light;
	src: url(../fonts/SwitzeraADF-Light.otf);
}
:root {
	--white: white;
	--black: black;
	--white-smoke: #e9e9e9;
	--light-grey: #dfdfdf;
	--soft-grey: 	#b0b0b0;
	--dark-grey: #2d2d2d;
	--soft-black: #181818;
	--blue: #00509e;
	--red: #fc3131;
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: "SwitzeraADF--Light";
	overflow-x: hidden;
}
* a {
	text-decoration: none;
	cursor: pointer;
	color: var(--white-smoke);
}
* li {
	list-style-type: none;
}
* button, .clicable {
	cursor: pointer;
}
body {
	background-color: var(--white-smoke);
}

* input {
	outline: none;
	border: none;
}

.icon {
	font-size: 1.5rem;
}

.container {
	padding: 1rem;
}

.line {
	margin: 0 1rem 0 1rem;
	height: .1rem;
	background-color: var(--soft-grey);
	border: .1px solid var(--soft-grey);
}

/* header-desktop */

.header-desktop {
	display: flex;
	align-items: flex-end;
	gap: 2rem;
	padding: 1rem 2rem 0 2rem;
	background-color: var(--soft-grey);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header-desktop img {
	width: 6rem;
	padding-bottom: .5rem;
}
.wrap-header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header-desktop span {
	font-size: 3rem;
}
.navbar-desktop ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--red);
	color: var(--white-smoke);
	padding: .7rem;
}

/* header-mobile */

.wrap-header-mobile {
	padding: .5rem 2rem .5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--soft-grey);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.wrap-header-mobile img {
	width: 3.5rem;
}
.navbar-mobile {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	line-height: 2rem;
	background-color: var(--soft-grey);
	padding-top: 7rem;
}
.navbar-mobile li {
	border-bottom: 1px solid var(--red);
	font-weight: bold;
}
.navbar-mobile li:last-child {
	border-bottom: none;
}
.navbar-mobile ul {
	width: 100%;
}

/* banner */

.banner {
	background-image: url(../img/banner.jpg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

/* content-index */

.index-content {
	display: flex;
	gap: 1.5rem;
}
.img-content {
	width: 40%;
	height: 20rem;
}
.index-content img {
	width: 100%;
	height: 20rem;
	object-fit: contain;
}
.wrap-content {
	line-height: 1.5rem;
	width: 60%;
}
.wrap-content button {
	background-color: var(--red);
	border: none;
	padding: 1rem;
	color: var(--white-smoke);
	margin-top: 1rem;
}

@media (max-width: 992px) {
	 
	

}

@media (max-width: 768px) {

	/* index-content */

	.index-content {
		flex-direction: column;
	}
	.img-content, .wrap-content {
		width: 100%;
	}
	.img-content, .img-content img {
		height: auto;
	}
	.wrap-content h1 {
		line-height: 2rem;
	}

}